<div class="large-12 columns">
  <div id="login" class="large-4 large-centered columns">
  	<h4>Please Login</h4>
  	<label>
      <input type="text" placeholder="username" />
    </label>
    <label>
      <input type="text" placeholder="password" />
    </label>
    <a href="reports/" class="button radius round">Submit</a>
  </div>
</div>
<ol class="joyride-list" data-joyride>
  <li data-text="Next" data-options="tip_location: top">
    <p>Welcome to the Hazard Assessment Tool walkthrough. Click next at the bottom of the windows to proceed</p>
  </li>
  <li data-text="Next" data-options="tip_location: top">
    <%= image_tag("hat.png") %>
    <p>This is the homepage of a custom Nexus 7 tablet. It limits users to only these five apps making it extremely simple to use. Let's take a tour of all the tools in the order they will be used.</p>
  </li>
  <li data-text="Next" data-options="tip_location: top">
    <%= image_tag("app_calendar.png") %>
    <p>The calendar will contain all of the firefighter's appointments. Utilizing google calendar allows us to change appointments remotely and instantly syncs the changes with the tablet.</p>
  </li>
  <li data-text="Next" data-options="tip_location: top">
    <%= image_tag("app_appointment.png") %>
    <p>Each appointment will contain all the neccessary client information and in addition, when the address is tapped on it will open the maps application.</p>
  </li>
  <li data-text="Next" data-options="tip_location: top">
    <%= image_tag("app_map-1.png") %>
    <p>This allows the firefighter to easily utilize google maps to locate the next clients location.</p>
  </li>
  <li data-text="Next" data-options="tip_location: top">
    <%= image_tag("app_map-2.png") %>
    <p>Tapping navigate will begin the navigation process with no manual data entry necessary.</p>
  </li>
  <li data-text="Next" data-options="tip_location: top">
    <%= image_tag("app_homepage.png") %>
    <p>After arrival the firefighter begins the assessment by running the report app.</p>
  </li>
  <li data-text="Next" data-options="tip_location: top">
    <%= image_tag("app_homeowner-info.png") %>
    <p>The firefighter then enters in the neccessary information. (Eventually this could be accomplished automatically using the google calendar API).</p>
  </li>
  <li data-text="Next" data-options="tip_location: top">
    <%= image_tag("app_script.png") %>
    <p>A dropdown menu contains pre-built scripts that the firefighter can utilize for common conditions.</p>
  </li>
  <li data-text="Next" data-options="tip_location: top">
    <%= image_tag("app_script-in.png") %>
    <p>Tapping the camera button will open the device camera.</p>
  </li>
  <li data-text="Next" data-options="tip_location: top">
    <%= image_tag("app_voice.png") %>
    <p>We even utilize google's speech recognition technology so that the firefighter need not type at all. </p>
  </li>
  <li data-text="Next" data-options="tip_location: top">
    <%= image_tag("app_summary.png") %>
    <p>When the report is finished, this page can be used to make corrections in the field.</p>
  </li>
  <li data-text="Next" data-options="tip_location: top">
    <p>This app is fully functioning and is ready for field testing. The report that you will see in the web app was created using the hazard assessment tool.</p>
  </li>
  <li data-text="Next" data-options="tip_location: top">
    <h4>The web app</h4>
    <p>These boxes will guide you through the web app.</p>
  </li>
  <li data-button="End">
    <p>There is no need to enter a username and password, just click submit.</p>
  </li>
</ol>
