<div style="margin-top: 3em" class="large-12 columns">
  <div id="company_list" style="background-color: grey" class="row">
  	<div id="jacob" style="padding-top: 2em" class="large-6 columns">
      <h4>Jacob Lee</h4>
      <h4>kyrios01@gmail.com</h4>
      <h4>1702 Carvell Drive</h4>
      <h4>Nashville, TN 37203</h4>
      <h4>USAA</h4>
  	</div>
  	<div id="report" class="large-6 columns">
  		A
  	</div>
  </div>
  <div style="background-color: grey; margin-bottom: 3em" class="row">
    <div class="large-12 columns">
      <?xml version='1.0' encoding='Utf-8' standalone='yes' ?>
      <Reports>
        <div class="large-7 large-centered columns">
          <div id="condition">
            <%= image_tag("../firestorm20140703_133532556027013.jpg") %>
            <p> - Roof is in good condition and is unlikely to contribute risk.</p>
            <%= link_to("Edit", report_path(0), class:"small button radius round") %>
            <%= link_to("Save", report_path(0), class:"small button radius round") %>
          </div>
          <div id="condition">
            <%= image_tag("../firestorm20140703_133603-554029633.jpg") %>
            <p> - Roof vents are all properly screened and are unlikely to contribute risk.</p>
            <%= link_to("Edit", report_path(0), class:"small button radius round") %>
            <%= link_to("Save", report_path(0), class:"small button radius round") %>
          </div>
          <div id="condition">
            <%= image_tag("../firestorm20140703_133708-1654158309.jpg") %>
            <p> - Roof contains combustible materials which could be ignited by embers.</p>
            <%= link_to("Edit", report_path(0), class:"small button radius round") %>
            <%= link_to("Save", report_path(0), class:"small button radius round") %>
          </div>
          <div id="condition">
            <div id="orbit" class="orbit-container">
            <ul data-orbit data-options="pause_on_hover: false; animation: fade; animation_speed: 1000; timer_speed: 5000; slide_number: false; navigation_arrows: true">
              <li><%= link_to(image_tag("../firestorm20140703_1338042043194820.jpg"), report_path(0)) %></li>
              <li><%= link_to(image_tag("../firestorm20140703_133827445415983.jpg"), report_path(0)) %></li>
              <li><%= link_to(image_tag("../firestorm20140703_133901-1770452160.jpg"), report_path(0)) %></li>
            </ul>
            </div>
            <p> - Gutters contain combustible material which could be ignited by embers.</p>
            <%= link_to("Edit", report_path(0), class:"small button radius round") %>
            <%= link_to("Save", report_path(0), class:"small button radius round") %>
          </div>
          <div id="condition">
            <div class="orbit-container">
            <ul data-orbit data-options="pause_on_hover: false; animation: fade; animation_speed: 1000; timer_speed: 5000; slide_number: false; navigation_arrows: true">
              <li><%= link_to(image_tag("../firestorm20140703_133935-1516054953.jpg"), report_path(0)) %></li>
              <li><%= link_to(image_tag("../firestorm20140703_1339581664560422.jpg"), report_path(0)) %></li>
            </ul>
            </div>
            <p> - Eaves are in good condition and is unlikely to contribute risk.</p>
            <%= link_to("Edit", report_path(0), class:"small button radius round") %>
            <%= link_to("Save", report_path(0), class:"small button radius round") %>
          </div>
          <div id="condition">
            <%= image_tag("../firestorm20140703_134051253409149.jpg") %>
            <p> - Vents are above the minimum safety standard and further reduce risk to this structure.</p>
            <%= link_to("Edit", report_path(0), class:"small button radius round") %>
            <%= link_to("Save", report_path(0), class:"small button radius round") %>
          </div>
          <div id="condition">
            <%= image_tag("../firestorm20140703_134115976365991.jpg") %>
            <p> - Eaves are clear of any combustible vegetation or debris.</p>
            <%= link_to("Edit", report_path(0), class:"small button radius round") %>
            <%= link_to("Save", report_path(0), class:"small button radius round") %>
          </div>
          <div id="condition">
            <%= image_tag("../firestorm20140703_1341341247554092.jpg") %>
            <p> - Siding is in good condition and is unlikely to contribute risk.</p>
            <%= link_to("Edit", report_path(0), class:"small button radius round") %>
            <%= link_to("Save", report_path(0), class:"small button radius round") %>
          </div>
          <div id="condition">
            <%= image_tag("../firestorm20140703_134207-142331382.jpg") %>
            <p> - Wall vents are above the minimum safety standard and further reduce risk to this structure.</p>
            <%= link_to("Edit", report_path(0), class:"small button radius round") %>
            <%= link_to("Save", report_path(0), class:"small button radius round") %>
          </div>
          <div id="condition">
            <%= image_tag("../firestorm20140703_134250-204575660.jpg") %>
            <p> - Windows are in good condition and are unlikely to contribute risk.</p>
            <%= link_to("Edit", report_path(0), class:"small button radius round") %>
            <%= link_to("Save", report_path(0), class:"small button radius round") %>
          </div>
          <div id="condition">
            <%= image_tag("../firestorm20140703_134410-1375303386.jpg") %>
            <p> - Clearance is exceptional and helps to reduce risk to this structure.</p>
            <%= link_to("Edit", report_path(0), class:"small button radius round") %>
            <%= link_to("Save", report_path(0), class:"small button radius round") %>
          </div>
          <div id="condition">
            <%= image_tag("../firestorm20140703_134445-2130967777.jpg") %>
            <p> - Combustible materials exist within this zone which could be ignited by embers which would present significant risk the structure.</p>
            <%= link_to("Edit", report_path(0), class:"small button radius round") %>
            <%= link_to("Save", report_path(0), class:"small button radius round") %>
          </div>
          <div id="condition">
            <%= image_tag("../firestorm20140703_134521-364613287.jpg") %>
            <p> - Defensible spacing is exceptional and helps to reduce risk to this structure.</p>
            <%= link_to("Edit", report_path(0), class:"small button radius round") %>
            <%= link_to("Save", report_path(0), class:"small button radius round") %>
          </div>
          <div id="condition">
            <%= image_tag("../firestorm20140703_134605132403832.jpg") %>
            <p> - Area is clear of any significant combustible materials.</p>
            <%= link_to("Edit", report_path(0), class:"small button radius round") %>
            <%= link_to("Save", report_path(0), class:"small button radius round") %>
          </div>
          <div id="condition">
            <div class="orbit-container">
            <ul data-orbit data-options="pause_on_hover: false; animation: fade; animation_speed: 1000; timer_speed: 5000; slide_number: false; navigation_arrows: true">
              <li><%= link_to(image_tag("../firestorm20140703_134638-1173033819.jpg"), report_path(0)) %></li>
              <li><%= link_to(image_tag("../firestorm20140703_13464823105241.jpg"), report_path(0)) %></li>
            </ul>
            </div>
             <p> - Structure is located near other homes that could potentially contribute a risk to the structure.</p>
            <%= link_to("Edit", report_path(0), class:"small button radius round") %>
            <%= link_to("Save", report_path(0), class:"small button radius round") %>
          </div>
          <div id="condition">
            <div class="orbit-container">
            <ul data-orbit data-options="pause_on_hover: false; animation: fade; animation_speed: 1000; timer_speed: 5000; slide_number: false; navigation_arrows: true">
              <li><%= link_to(image_tag("../firestorm20140703_134722-1238853383.jpg"), report_path(0)) %></li>
              <li><%= link_to(image_tag("../firestorm20140703_134731-1049924090.jpg"), report_path(0)) %></li>
            </ul>
            </div>
            <p> - Access to the structure meets minimum standards for a type 3 fire engine.</p>
            <%= link_to("Edit", report_path(0), class:"small button radius round") %>
            <%= link_to("Save", report_path(0), class:"small button radius round") %>
          </div>
          <div id="condition">
            <%= image_tag("../firestorm20140703_1348261087795518.jpg") %>
            <p>Hydrant is located nearby.</p>
            <%= link_to("Edit", report_path(0), class:"small button radius round") %>
            <%= link_to("Save", report_path(0), class:"small button radius round") %>
          </div>
          <div id="condition">
            <%= image_tag("../firestorm20140703_1349321194023081.jpg") %>
            <p>Home is located in a residential community and therefore is not subject to many of the risk factors associated with wildfire.</p>
            <%= link_to("Edit", report_path(0), class:"small button radius round") %>
            <%= link_to("Save", report_path(0), class:"small button radius round") %>
          </div>
        </div>
        <div class="large-12 columns">
  	      <div id="redzone" class="large-6 columns">
            <%= image_tag("redzone_area.jpg") %>
            <p>General area hazard...</p>
          </div>
          <div id="redzone" class="large-6 columns">
            <%= image_tag("redzone_site.jpg") %>
            <p>Site specific area hazard...</p>
        </div>
      </div>
      </Reports>
        <%= link_to("Approve Report", report_path(0), class:"medium button radius round", :id => "approve") %>
  	</div>
  </div>
</div>
<ol class="joyride-list" data-joyride>
  <li data-text="Next" data-options="tip_location: top">
    <p>This is the report page it will be automatically generated after the reports are uploaded from the field application.</p>
  </li>
  <li data-id="report" data-text="Next" data-options="tip_location: top">
    <p>This letter grade is purely for the homeowner. The letter grade will ONLY be an indicator of the effort of the homeowner to mitigate risk and is NOT indicative of actual risk, or lack of risk to the home. This will be automatically generated based on how many conditions are reported in the field.</p>
  </li>
  <li data-id="condition" data-text="Next" data-options="tip_location: top">
    <p>The edit and save buttons do not yet function.</p>
  </li>
  <li data-id="orbit" data-text="Next" data-options="tip_location: top">
    <p>Some Conditions will have multiple photos. Use the arrows to navigate.</p>
  </li>
  <li data-id="redzone" data-text="Next" data-options="tip_location: top">
    <p>This is just example data from Redzone which will be different once we are actually accessing their servers.</p>
  </li>
  <li data-id="approve" data-button="Back to top" data-options="tip_location: top">
    <p>Once the report is checked for errors this button will send the data to either the home owner, the insurance company, or both. They will be sent an email with a link to the report page and temporary login information.</p>
  </li>
  <li data-id="jacob" data-button="End" data-options="tip_location: top">
    <p>The final report will look nearly the same, excluding of course the save and edit buttons.</p>
  </li>
</ol>