<div class="large-12 columns">
  <div style="background-color: grey; margin-top: 3em" class="large-6 large-centered columns">
    <ul id="company_list">
  	  <li><%= link_to("Jacob Lee, Sun July 6 11:32:22 2014", "reports/edit") %></li>
  	  <li><%= link_to("Jacob Lee, Sun July 6 11:32:22 2014", "reports/edit") %></li>
  	  <li><%= link_to("Jacob Lee, Sun July 6 11:32:22 2014", "reports/edit") %></li>
  	  <li><%= link_to("Jacob Lee, Sun July 6 11:32:22 2014", "reports/edit") %></li>
  	  <li><%= link_to("Jacob Lee, Sun July 6 11:32:22 2014", "reports/edit") %></li>
  	  <li><%= link_to("Jacob Lee, Sun July 6 11:32:22 2014", "reports/edit") %></li>
  	  <li><%= link_to("Jacob Lee, Sun July 6 11:32:22 2014", "reports/edit") %></li>
  	  <li><%= link_to("Jacob Lee, Sun July 6 11:32:22 2014", "reports/edit") %></li>
  	  <li><%= link_to("Jacob Lee, Sun July 6 11:32:22 2014", "reports/edit") %></li>
    </ul>
  </div>
</div>
<ol class="joyride-list" data-joyride>
  <li data-button="End">
    <p>This page will contain a list of all the reports pertaining to the aforementioned insurance company. These will only be reports that have not yet been approved. When a firefighter uploads reports from the field they will end up here. Click any one of them to see the report example.</p>
  </li>
</ol>