<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Firestorm || WFHA" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  
  <header>
    <%= image_tag("header_bg.png") %>
  </header>

    <%= yield %>

  <footer style="background-color: grey; min-height: 10em" >
  </footer>

    <%= javascript_include_tag "application" %>

  </body>
</html>