<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Firestorm || WFHA" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  
  <header>
    <%= image_tag("header_bg.png") %>
  </header>

    <%= yield %>


    <%= javascript_include_tag "application" %>
  <div id="footer">
    <%= image_tag("footer_bg.jpg") %>
  </div>
  </body>
</html>